* {
    padding: 0;
    margin: 0;
}

:root{
    --section_color: #5af0cda0; /*original: #50f0c0a0*/ /*v2: #5af0cda0*/
    --section_3d_color: #20c0a0a0; /*original: #30d0a0a0*/ /*v2: #20c0a0a0*/
    --background_color: #065; /*original: #086*/ /*v2: #065*/
    --highlight_color: aquamarine; /*original: aquamarine*/
    --highlight_color_v2: #0aa;
    --shadow_color: #003d40a0; /*original: #005040a0*/ /*v2: #003d40a0*/
    --nav_background: #10b090fa; /*original: #60b090*/ /*v2: */
    --nav_hover: #3ad0ad80; /*original: #50a080*/ /*v2: */
}



html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--background_color);
    overflow-x: hidden;
    height: 500vh;
}

/*Containers config*/

.container{
    background-color: var(--section_color); 
    box-shadow: 0px 10px 0px var(--section_3d_color);
    width: 90vw;
    height: 90vh;
    border-radius: 30px;
    position: absolute;
    user-select: none;
    cursor: default;
    left: 5vw;
    transition: box-shadow .4s, top .4s; /*all .4s*/
}

.container:hover{
    box-shadow: 0px 10px 0px var(--section_3d_color), 0px 30px 10px var(--shadow_color); /*#30d0a0a0  #005040a0*/
}

/*Home*/

#welcome{
    top: 5vh;
}

#welcome:hover{
    top: 3vh;
}

.title{
    z-index: 1;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    font-size: 40px;
    font-family: poppins;
    width: 300px;
    top: 5vh;
    background-color: #fff;
    box-shadow: 0px 5px 0px #ccc;
    color: #000;
    letter-spacing: 3px;
    user-select: none;
    text-align: center;
    border-radius: 20px;
}

#intro-title {
    z-index:1;
    width: 300px;
    font-family: 'poppins';
    font-size: 40px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 5vh;
    font-weight: bold;
    background-color: #fff;
    border-radius: 20px;
    cursor:default;
    box-shadow: 0px 5px 0px #ccc;
    letter-spacing:3px;
    user-select:none;
    text-align:center;
}

#text-lst{
    display: flex;
    justify-content: center;
}

.txt{
    list-style: none;
    display: flex;
    justify-content: center;
    color: #000;
    transition:.2s all;
}

.txt:hover{
    color:var(--highlight_color);
}

#to{
    position: absolute;
    font-size: 30px;
    color: #fff;
    text-shadow: 0px 3px 0px #aaa;
    font-family: poppins;
    text-align: center;
    width: 100px;
    left: 50%;
    top: 20%;
    margin-left: -50px;
}

#name{
    position: absolute;
    font-size: 75px;
    font-family: 'Dancing script';
    left: 50%;
    margin-left: -141px;
    bottom: 12vh;
    font-weight: bold;
}

.name-lst{
    display: flex;
    justify-content: space-around;
}

.name-txt{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 75px;
    color: #000;
    transition: all .2s;
}

.name-txt:hover{
    color: #eee;
}

#port{
    position: absolute;
    font-family: 'Poppins';
    left: 50%;
    width: 300px;
    margin-left: -150px;
    bottom: 3vh;
    font-weight: bold;
    background-color: #fff;
    letter-spacing: 3px;
    border-radius: 20px;
    box-shadow: 0px 5px 0px #ccc;
}

.port-lst{
    display: flex;
    justify-content: space-around;
}

.port-txt{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 40px;
    color: #000;
    transition: all .2s;
}

.port-txt:hover{
    color: var(--highlight_color);
}

.background{
    position: absolute;
    top: -5vh;
    left: 50%;
    margin-left: -45vw;
    height: 100%; 
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background img{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    opacity: 1;
}

/*About*/

#about{
    top: 105vh;
}

#about:hover{
    top: 103vh;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 18vh;
}


#description{
    position: relative;
    text-align: justify-all;
    width: 80%;
    background-color: #eeea;
    padding: 10px;
    border-radius: 10px;
    font-family: poppins;
    font-size: 2vh;
    line-height: 3.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 0px #ccca;
}

#desc-name{
    font-family: "dancing script";
    font-size: 3vh;
    border-bottom: 2px solid #00000000;
    transition: color .4s, border-bottom .4s;
}

#desc-name:hover{
    color: var(--highlight_color_v2);
    border-bottom: 2px solid var(--highlight_color_v2);
}

#skills{
    position: relative;
    font-size: 2.5em;
    font-family: poppins;
    letter-spacing: 3px;
    pointer-events: all;
    margin-top: 25px;
}

#skills::after{
    content: '';
    position: absolute;
    top: 80%;
    width: 100%;
    height: 3px;
    background:#000;
    transform: translateX(-100%) scale(0);
    transition: transform .3s;
}

#skills:hover::after{
    transform: translateX(-100%) scale(1);
}

.slider{
    width: 150px;
    overflow:hidden;
    margin: auto;
}

.slider-imgs{
    display: flex;
    width: 100%;
    transition: transform .4s;
}

.slider-imgs img{
    width: 150px;
    height: 170px;
}

/*Projects*/

#projects{
    top: 205vh;
}

#projects:hover{
    top: 203vh;
}

/*Social*/

#social{
    top: 305vh;
}

#social:hover{
    top: 303vh;
}

/*Contact*/

#contact{
    top: 405vh;
}

#contact:hover{
    top: 403vh;
}

/*Burger animations*/

.burger{
    position:fixed;
    right:2vw;
    top:1vh;
    height:40px;
    width:40px;
    cursor:pointer;
    z-index: 11;
}

.burger div{
    width: 100%;
    height:5px;
    margin-top:8px;
    background-color: #fff;
    box-shadow: 0px 3px 0px #ccc;
    transition: transform .3s, opacity .2s;
}

.brg-active #line1{
    transform: rotate(-45deg) translateY(16px) translateX(-5px);
}

.brg-active #line2{
    opacity: 0;
}

.brg-active #line3{
    transform: rotate(45deg) translateY(-15px);
}

/*Nav bar*/

nav{
    height: 100%;
}

.nav-bar{
    top: 0;
    font-family: poppins;
    z-index: 10;
    height: 100%;
    width: 45vw;
    background-color: var(--nav_background);
    float:right;
    right:0;
    position:fixed;
    transform:translateX(100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: transform .5s;
}

.nav-bar li{
    list-style:none;
    color:var(--highlight_color);
    width:100%;
    position: relative;
    text-align: center;
    font-size:30px;
    transition: .3s all;
    vertical-align: center;
    letter-spacing: 3px;
    font-weight: 300;
    cursor: default;
    user-select: none;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav-bar li::after{
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    top: 65%;
    background-color: var(--highlight_color);
    transform: scale(0);
    transition: all .3s;
}

.nav-bar li:hover{
    background-color:var(--nav_hover);
}

.nav-bar li:hover::after{
    transform: scale(1);
}

.nav-active{
    transform: translateX(0%);
}

/*Face animation and config*/

#head{
    width: 210px;
    height: 205px;
    border-radius: 0px 0px 100px 100px;
    background-color: #f5ad5a;
    box-shadow: 0px 5px 0px #e59d4a;
    margin:auto;
    top:50vh;
    left:50%;
    margin-left: -105px;
    margin-top: -102.5px;
    position: absolute;
}

#hair{
    height:80px;
    width: 210px;
    border-radius: 50px 50px 0px 0px;
    background-color: #250000;
    position:absolute;
    margin-top:-80px;
}

#hair-part{
    height:60px;
    width: 210px;
    border-radius: 50px 50px 50px 50px;
    background-color: #3f0000;
    box-shadow: 0px 5px 0px #2f0000;
    position:absolute;
}

#eyes{
    margin:auto;
    justify-content: space-around;
    display:flex;
    width: 180px;
}

.eyeballs{
    justify-content: space-around;
    display:flex;
    margin:auto;
    background-color: #eee;
    box-shadow: 0px 3px 0px #e69e4b;
    height: 50px;
    width:50px;
    border-radius:50px;
    margin-top: 25px;
}

.pupil{
    width:25px;
    height:25px;
    border-radius:25px;
    margin:auto;
    background-color: #000;
    transition: .2s all;
}

.skin{
    background-color: #300;
    box-shadow: 0px 2px 0px #100;
    border-radius: 80px 80px 0px 0px;
    width: 50px;
    height: 10px;
    margin-left: -13px;
    margin-top: -20px;
    transition: all .2s;
}

.nose{
    width:40px;
    height: 40px;
    border-radius:40px;
    background-color: #e59d4a;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    box-shadow: 0px 4px 0px #d58d3a;
}

.mouth{
    width:80px;
    height:5px;
    background-color:#000;
    margin:auto;
    margin-top:75px;
    border-radius: 20px;
    transition: .3s all;
}

.tongue{
    background-color: #ff5555;
    width:50px;
    height:0px;
    border-radius:0px 0px 20px 20px;
    transform:translateY(5px);
    margin:auto;
    transition: height .3s;
}

.line{
    width:3px;
    height:0px;
    margin:auto;
    background-color: #ee4444;
    transition:height .3s;
}

#head:hover .skin{
    margin-top:-30px;
    margin-left:-10.5px;
}

#head:hover .pupil{
    width: 30px;
    height: 30px;
}

#head:hover .mouth{
    height:30px;
    border-radius:0px 0px 30px 30px;
}

#head:hover .tongue{
    height:50px;
}

#head:hover .line{
    height: 40px;
}


@media screen and (max-width:800px){
    .background{
        display: none;
    }
}

@media screen and (max-height:700px){
    #to{
        top: 16%;
    }
}

@media screen and (max-height:630px){
    #head{
        display: none;
    }

    /*CENTER TEXT*/
}
