* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #a0f0c0;
}

#intro-title {
    z-index:1;
    width: 300px;
    font-family: poppins;
    font-size: 40px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 10%;
    font-weight: bold;
    background-color: #fff;
    border-radius: 20px;
    cursor:default;
    box-shadow: 0px 5px 3px #ccc;
    letter-spacing:3px;
    user-select:none;
}

#text-lst{
    display: flex;
    justify-content: center;
}

.txt{
    list-style: none;
    display: flex;
    justify-content: center;
    color: #000;
    transition:.25s all;
}

.txt:hover{
    color:#50f0c0;
}

/*Burger animations*/

#burger{
    position:fixed;
    right:5vw;
    top:5vh;
    height:40px;
    width:40px;
    cursor:pointer;
}

#burger div{
    width: 100%;
    height:5px;
    margin-top:8px;
    background-color: #fff;
}

#burger:active ~ .navbar{
    transform:translateX(0%);
}

/*Nav bar*/

nav{
    height: 100%;
}

.nav-bar{
    font-family: poppins;
    height: 100%;
    width: 20vw;
    background-color: green;
    float:right;
    right:0;
    position:fixed;
    transform:translateX(100%);
}

.nav-bar a{
    text-decoration: none;
    color:aqua;
}

.nav-bar li{
    list-style:none;
    width:100%;
    text-align: center;
    height: 16%;
    padding-top: 22%;
    font-size:24px;
    transition: .3s all;
}

.nav-bar li:hover{
    background-color:darkgreen;
}

/*Face animation and config*/

#head{
    width: 300px;
    height: 300px;
    border-radius: 0px 0px 300px 300px;
    background-color: #f5ad5a;
    margin:auto;
    top:40%;
    left:50%;
    margin-left: -150px;
    position: absolute;
}

#hair{
    height:100px;
    width: 300px;
    border-radius: 50px 50px 0px 0px;
    background-color: #250000;
    position:absolute;
    margin-top:-80px;
}

#hair-part{
    height:80px;
    width: 300px;
    border-radius: 50px 50px 50px 50px;
    background-color: #3f0000;
    position:absolute;
}

#eyes{
    margin:auto;
    justify-content: space-around;
    display:flex;
    width: 250px;
}

.eyeballs{
    justify-content: space-around;
    display:flex;
    margin:auto;
    background-color: #eee;
    height: 70px;
    width:70px;
    border-radius:70px;
    margin-top: 50px;
}

.pupil{
    width:30px;
    height:30px;
    border-radius:30px;
    margin:auto;
    background-color: #000;
    transition: .3s all;
}

.skin{
    background-color: #300;
    border-radius: 80px 80px 0px 0px;
    width: 70px;
    height: 20px;
    margin-left: -20px;
    margin-top: -20px;
    transition: all .3s;
}

.nose{
    width:50px;
    height: 50px;
    border-radius:50px;
    background-color: #e59d4a;
    margin-left:125px;
    position: absolute;
}

.mouth{
    width:100px;
    height:10px;
    background-color:#000;
    margin:auto;
    margin-top:80px;
    border-radius: 20px;
    transition: .3s all;
}

.tongue{
    background-color: #ff5555;
    width:70px;
    height:0px;
    border-radius:0px 0px 20px 20px;
    transform:translateY(10px);
    margin:auto;
    transition: height .3s;
}

.line{
    width:3px;
    height:0px;
    margin:auto;
    background-color: #ee4444;
    transition:height .3s;
}

#head:hover .skin{
    margin-top:-40px;
    margin-left:-15px;
}

#head:hover .pupil{
    height: 40px;
    width: 40px;
}

#head:hover .mouth{
    height:30px;
    border-radius:0px 0px 30px 30px;
}

#head:hover .tongue{
    height:70px;
}

#head:hover .line{
    height: 50px;
}